@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(223, 224, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 45px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_Side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
    position:static;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;

}

.profileText .imgBx img {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.22em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;

}

.profileText h2 span {
    font-size: 0.9em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 20px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 15px;
    color: #fff;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo.education li {
    margin-bottom: 15 px;
}

.contactInfo.education h5 {
    color: rgb(152, 203, 233);
    font-weight: 500;
}
.contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
}
.contactInfo.education h4 {
    color: #fff;
    font-weight: 500;
}
.contact.skill li {
    margin-bottom: 15 px;
}
.contact.skill h5 {
    color: #fff;
    font-weight: 500;
}
.contact.skill h5 {
    color: #fff;
    font-weight: 300;
}

.contact.language li {
    margin-bottom: 15 px;
}
.contact.language h5 {
    color: #fff;
    font-weight: 300;
}
.contact ul li {
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    color: #fff;
}
.container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin-bottom:15px;
    font-size: 14px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.about .text li {
    margin-bottom:8px  ;
    font-size:14px;
}
.about .text h5 {
    font-size:14px;
}
.about skills .box{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.about-skills .text li{
    margin-bottom:8px  ;
    font-size:14px;
}

.about-onl .text1  li{
    margin-bottom:8px  ;
    font-size:14px;
    font-weight:bold;
}

